[my_portfolio_scroll] {
	display: flex;
	flex-wrap: wrap;
	padding: .5rem;
}


[mol_theme] {
	background-color: var(--mol_theme_back);
	color: var(--mol_theme_text);
	fill: var(--mol_theme_text);
}

@media (prefers-color-scheme: light) {
	[mol_theme="$mol_theme_auto"] {
		--mol_theme_back: hsl( 210 , 50% , 99% );
		--mol_theme_hover: rgba( 0 , 0 , 0 , .05 );
		--mol_theme_current: hsl( 210 , 100% , 80% );
		--mol_theme_text: rgba( 0 , 0 , 0 , .9 );
		--mol_theme_control: hsl(267, 45%, 35%,0.5);
		--mol_theme_shade: rgba( 0 , 0 , 0 , .5 );
		--mol_theme_line: rgba( 220 , 220 , 220 , 1 );
		--mol_theme_focus: hsla( 0 , 60% , 50% , 0.75 );
		--mol_theme_field: white;
	}
}

@media (prefers-color-scheme: dark) {
	[mol_theme="$mol_theme_auto"] {
		--mol_theme_back: hsl( 210 , 50% , 10% );
		--mol_theme_hover: #333;
		--mol_theme_current: hsl( 210 , 100% , 20% );
		--mol_theme_text: rgba( 255 , 255 , 255 , .8 );
		--mol_theme_control: hsl(267, 45%, 35%);
		--mol_theme_shade: rgb(43, 17, 64);
		--mol_theme_line: rgba( 50 , 50 , 50 , 1 );
		--mol_theme_focus: rgba( 204 , 68 , 50 , .75 );
		--mol_theme_field: black;
	}
}

[my_portfolio] {
	display: flex;
	background: var(--mol_theme_field);
}
[my_portfolio_page_head]{
	display: flex;
	justify-content: start;
	background: #553282;
}
[my_portfolio_app]{
	display: flex;
	flex-direction: column;
	flex: 1 1 26rem;
	margin: 0;
	height: 15.5rem;
	cursor: pointer;
}
[my_portfolio_image]{
	box-shadow: none;
	max-width: 15vh;
	
}
[my_portfolio_app_title]{
	color: #553282;
}

[my_portfolio_app]{
	margin: 10px;
    -webkit-box-shadow: 8px 0px 20px -2px rgb(85, 39, 97);
    -moz-box-shadow: 8px 0px 20px -2px rgb(85, 39, 97);
    box-shadow: 8px 0px 20px -2px var(--mol_theme_shade);
}
[my_portfolio_app_demo]{
	pointer-events: none;
	box-shadow: 0 0 0 2px var(--mol_theme_line);
	width: 200%;
	height: 26rem;
	transform: translate( -25% , -25% ) scale( .5 );
	background-size: cover;
}
